.BudgetForm {
  max-height: 80vh;
  display: flexbox;
  padding: 0px 30px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
}

.BudgetForm .container {
  color: white;
  margin: 0px auto 20px;
  width: 75%;
  height: auto;
  text-align: center;
  border: 2px solid teal;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  max-width: 400px;
  min-width: 300px;
}

.BudgetForm form {
  width: 75%;
  box-sizing: border-box;
  margin: auto;
}

.BudgetForm h1 {
  color: white;
  width: 75%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  justify-items: center;
  margin: 20px auto;
  text-align: left;
}
.BudgetForm h2 {
  margin: 0px;
  width: auto;
  padding: 0px 5px;
  display: flex;
}

.BudgetForm label {
  color: white;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.BudgetForm input {
  margin: 5px 0px;
  width: 95%;
  font-size: 20px;
}

.BudgetForm select {
  margin: 5px 0px;
  width: 95%;
  font-size: 20px;
  border-width: 2px;
  padding: 1px 2px;
  box-sizing: content-box;
}

.BudgetForm .Buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 400px;
}

.BudgetForm form #date {
  font-family: sans-serif;
}
