.BudgetTable {
  height: 88vh;
  padding-top: 20px;
  box-sizing: content-box;
}

.BudgetTable h1 {
  color: white;
  text-align: center;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.BudgetTable h1 span {
  margin: 0px 10px;
}

.BudgetTable table {
  width: 80%;
  margin: auto;
  max-width: 800px;
}

.BudgetTable .minus {
  color: red;
}
.BudgetTable .plus {
  color: green;
}

.BudgetTable .even {
  color: white;
}
